doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
    
  body
    
    block nav
      nav.topnav
        a(href='#about') About
        a(href='#work') Portfolio
        a(href='#contact') Contact
        button.menu
          svg
            path(d='M0,1.5 20,1.5' stroke-width='3')
            path(d='M0,8 20,8' stroke-width='3')
            path(d='M0,14.5 20,14.5' stroke-width='3')
        nav.mobile
          a(href='#about') About
          a(href='#work') Portfolio
          a(href='#contact') Contact        

    section#top.hero.section
      picture.img-responsive
        img.img-responsive(sizes="(max-width: 2800px) 100vw, 2800px" srcset=`
        images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_200.jpg 200w,
        images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_1401.jpg 1401w,
        images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_2134.jpg 2134w,
        images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_2609.jpg 2609w,
        images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_2800.jpg 2800w`
        src="images/janko-ferlic-174927-unsplash_x6nfox_c_scale,w_2800.jpg"
        alt="Bookshelve")    
      block hero
                  
    block content
    
    //- replaced with hashed version by webpack
    script(src='javascripts/bundle.js')
