doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    
  body
    
    block nav
      nav.topnav
        a(href='#about' ) About
        a(href='#work') My Work

    block hero
                  
    block content
      
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/bundle.js')
