doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700|Vollkorn:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
    
  body
    
    block nav
      nav.topnav
        a(href='#about' ) About
        a(href='#work') My Work

    block hero
                  
    block content
      
    script(src='javascripts/bundle.js')
