.portfolio
  display: flex
  margin-left: -$spacing
  margin-right: -$spacing

.project
  flex: 1
  width: 100px
  height: 500px
  transition: all 1s
  overflow: hidden
  display: flex
  justify-content: center

.project:last-child
  border-right: none

.project:hover
  flex: 4

.project img
  height: 100%
