$font-sans: 'Lato', sans-serif
$font-serif: 'Vollkorn', serif
$font-size-regular: 20px
$primary-col: black
$secondary-col: white
$spacing: 20px
$content-width: 960px
$mobile-tablet: '(max-width: 1100px)'

h1
  font-size: $font-size-regular * 4
  font-family: $font-serif
  line-height: 1.1

h2
  font-size: $font-size-regular * 1.5

body
  background: $primary-col
  font-family: $font-sans
  font-size: $font-size-regular
  color: $secondary-col
  margin: 0

a
  font-family: $font-serif
  color: $secondary-col

// position on top of hero image
.hero-content
  position: absolute
  top: 200px
  @media #{$mobile-tablet}
    top: 100px
  width: 100%
  opacity: 0
  transition: opacity 2s

.hero-content.loaded
  opacity: 1

.hero-content h1
  margin-bottom: 0

.hero img
  z-index: -1

.topnav
  padding: $spacing 0
  display: flex
  justify-content: flex-end
  position: fixed
  top: 0
  width: 100%
  z-index: 1
  transition: all 1s

.topnav.scrolled
  background: rgba($primary-col, 0.75)

.topnav a
  text-transform: uppercase
  text-decoration: none
  margin-right: $spacing

.topnav a:hover
  border-bottom: none
  font-weight: 700

.wrapper
  padding: $spacing
  max-width: $content-width
  margin: 0 auto 0 auto

.section--alt
  background: $secondary-col
  color: $primary-col

.img-responsive
  width: 100%
