$font-sans: 'Open Sans', sans-serif
$font-serif: 'Merryweather', serif
$font-size-regular: 20px
$primary-col: rgb(30, 30, 30)
$secondary-col: white
$spacing: 20px
$content-width: 960px
$mobile-tablet: '(max-width: 1100px)'
$mobile: '(max-width: 500px)'
$tablet-plus: '(min-width: 501px)'
$icon-max-size: 150px
$opacity: 0.75
$line-height: 1.25
